body {
	/* overflow: hidden; */
	margin-left: 230px;
	margin-top: 120px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
header {
	background-color: black;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 1;
	width: 100%;
	color: white;
	display: flex;
	align-items: center;
}

#login {
	font-weight: bold;
}
#loginbtn {
	border: none;
	background-color: #4755d6;
	height: 50px;
	width: 200px;
	border-radius: 8px;
	color: white;
	font-weight: bold;
}

.container header img {
	height: 35px;
	width: 35px;
	margin-left: 25px;
}

header h1 {
	margin-left: 15px;
	padding: 9px;
}

.sidenav {
	position: absolute;
	top: 103px;
	left: 0;
	height: 120%;
	width: 190px;
	background-color: rgb(216, 216, 216);
}
.sidenav img {
	display: flex;
	flex-direction: column;
}
.sidenav a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 15px;
	color: #000000;
	display: flex;
	flex-direction: row;
	font-weight: bold;
}

.sidenav .home {
	display: flex;
	flex-direction: row;
}
.sidenav .adduser {
	display: flex;
	flex-direction: row;
}
.sidenav .newissue {
	display: flex;
	flex-direction: row;
}
.sidenav .logout {
	display: flex;
	flex-direction: row;
}

.sidenav a:hover {
	color: #9c9898;
}

.container .form1 h1 {
	font-size: 36px;
	color: black;
}

.container .form1 {
	font-weight: bold;
}

/*ADD USER*/
#firstname {
	width: 500px;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	box-shadow: 5px 5px 5px rgb(230, 230, 230);
}

#lastname {
	width: 500px;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	box-shadow: 5px 5px 5px rgb(230, 230, 230);
}

#password {
	box-shadow: 5px 5px 5px rgb(230, 230, 230);
	width: 500px;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

#email {
	font-weight: bold;
	width: 500px;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	box-shadow: 5px 5px 5px rgb(230, 230, 230);
}

#form1btn {
	border: none;
	background-color: #4755d6;
	height: 50px;
	width: 200px;
	border-radius: 8px;
	color: white;
	font-weight: bold;
}

#newuser {
	font-weight: bold;
}

/*DASHBOARD*/
.display .issues {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-right: 50px;
}

.display .issues #createnewissue {
	background-color: #48bb78;
	border-radius: 5px;
	padding: 12px 30px;
	text-decoration: none;
	font-weight: bold;
	text-align: center;
	color: white;
    border: none;
    font-size: 15px;
}
.display .filterby {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.display .filterby .navbar li {
	text-decoration: none;
	display: inline-block;
}

.display .filterby .navbar {
	font-weight: bold;
}

#allissues {
	background-color: white;
	border-radius: 5px;
	border: none;
	padding: 10px 40px;
	text-decoration: none;
	text-align: center;
	color: black;
	text-transform: uppercase;
	font-weight: bold;
}

#allissues:hover {
	background-color: #322fda;
	color: white;
}

#openissues {
	background-color: white;
	border-radius: 5px;
	border: none;
	padding: 10px 40px;
	text-decoration: none;
	text-align: center;
	color: black;
	text-transform: uppercase;
	font-weight: bold;
}
#openissues:hover {
	background-color: #322fda;
	color: white;
}

#myissues {
	background-color: white;
	border-radius: 5px;
	border: none;
	padding: 10px 40px;
	text-decoration: none;
	text-align: center;
	color: black;
	text-transform: uppercase;
	font-weight: bold;
}
#myissues:hover {
	background-color: #322fda;
	color: white;
}

/*CREATE ISSUE*/

.createissue {
	font-weight: bold;
}

#title {
	width: 500px;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	box-shadow: 5px 5px 5px rgb(230, 230, 230);
}

#description {
	width: 500px;
	height: 100px;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	box-shadow: 5px 5px 5px rgb(230, 230, 230);
}

#assignedto {
	width: 500px;
	height: 50px;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	box-shadow: 5px 5px 5px rgb(230, 230, 230);
}

#type {
	width: 500px;
	height: 50px;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	box-shadow: 5px 5px 5px rgb(230, 230, 230);
}

#priority {
	width: 500px;
	height: 50px;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	box-shadow: 5px 5px 5px rgb(230, 230, 230);
}

#cissue {
	border: none;
	background-color: #4755d6;
	height: 50px;
	width: 200px;
	border-radius: 8px;
	color: white;
	font-weight: bold;
}

/*DISPLAY ALL ISSUES*/

.dashboardtable {
	border-collapse: collapse;
	width: 100%;
}

.dashboardtable th {
	background-color: rgb(231, 230, 230);
	text-align: left;
}

.dashboardtable td {
	padding: 20px 0px;
	text-decoration: none;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

.hashtag a{
    text-decoration: none;
    color: rgb(4, 75, 207);
}



/*DISPLAY JOB DETAILS*/

#closed {
	border: none;
	background-color: #4755d6;
	height: 45px;
	width: 315px;
	border-radius: 8px;
	color: white;
	font-weight: bold;
}

#inprogress {
	border: none;
	background-color: #48bb78;
	height: 45px;
	width: 315px;
	border-radius: 8px;
	color: white;
	font-weight: bold;
}

.aside {
	padding-left: 15px;
	margin: 0px 50px;
	float: right;
}

.tab {
	background-color: rgb(231, 230, 230);
	border-radius: 10px;
	width: 300px;
	padding-left: 15px;
	padding-top: 5px;
	padding-bottom: 20px;
}

#issue-create {
	color: rgb(155, 155, 155);
}

#issue-update {
	color: rgb(155, 155, 155);
}

.displayjobdetails {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

/* .dashboardtable #status-header {
	text-align: center;
} */

.openstatus {
	align-self: center;
	background-color: #48bb78;
	border-radius: 3px;
	color: white;
	text-align: center;
	width: 120px;
}
.progstatus{
    background-color: #fcc204;
    border-radius: 3px;
    color: white;
    text-align: center;
    width: 120px;
    height: 30px;
    text-transform: uppercase;
}

.closestatus{
    background-color: #fc6704;
    border-radius: 3px;
    color: white;
    text-align: center;
    width: 120px;
    text-transform: uppercase;
}

.dashboardtable .statuscontainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hashtag {
	font-weight: bold;
}

.issuelink {
	font-weight: normal;
	text-decoration: none;
}

